<section class="content-header" ng-init="Init()">
    <div class="col">
        <div class="card-tools">
            <h4>Surat Kelahiran</h4>
        </div>
        <div class="card card-warning" ng-if="Tampil">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-check"></i>
                        Persetujuan
                    </h3>
                </div>
                <div class="card-body">
                    <form ng-submit="Simpan()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">No Surat</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.nomorsurat"
                                                placeholder="No Surat">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header"></div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">RT</label>
                                        <div class="col-sm-8">
                                            <select ui-select2 class="form-control" ng-model="ItemRT" data-placeholder="RT" ng-change="SelectedRT()">
                                                <option value=""></option>
                                                <option ng-repeat="item in ListRT" value="{{item}}">
                                                    {{item.data.nomor}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tanggal Surat
                                            Pengantar</label>
                                        <div class="col-sm-8">
                                            <datepicker date-format="yyyy-MM-dd">
                                                <input type="text" class="form-control" ng-model="TanggalSurat" ng-change="SelectedTanggal()"
                                                placeholder="Tanggal Surat Pengantar">
                                            </datepicker>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">No Surat Pengantar</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.nomorsuratpengantar"
                                                placeholder="No Surat Pengantar">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Ketua RT</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.ketuart" placeholder="Ketua RT" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header"></div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">NIK</label>
                                        <div class="col-sm-8">
                                            <select ui-select2 class="form-control" ng-model="ItemPenduduk" ng-change="SelectedPenduduk()"
                                                data-placeholder=" NIK">
                                                <option value=""></option>
                                                <option ng-repeat="item in ListPenduduk" value="{{item}}">
                                                    {{item.nik}}&nbsp;-&nbsp;{{item.nama}}</option>
                                            </select>
                                        </div>
                                    </div>
        
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Nama</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.nama"
                                                placeholder="Nama">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header"></div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Pejabat Atas Nama</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.pejabat.data.atasnama">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.pejabat.nama">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Jabatan Pengesah</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.pejabat.namajabatan">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">NIP/NIAP Pengesah</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="SuratBelumMenikah.data.pejabat.data.nik" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header"></div><br>
                        </div>
                        <div class="card-footer">
                            <button type="button" ng-click="Setujui()" class="btn btn-info">Setujui</button>
                            <button type="button" class="btn btn-warning float-right" ng-click="Back()">Revisi</button>
                            <button type="button" class="btn btn-danger float-right" ng-click="Reject()">Tolak</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>