<div class="table-responsive p-0">
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="text-align: center;" width="5px">No</th>
        <th style="text-align: center;">Statistik</th>
        <th style="text-align: center;" width="15px">Jumlah</th>
        <th style="text-align: center;" width="15px">Laki-Laki</th>
        <th style="text-align: center;" width="15px">Perempuan</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in Data">
        <td>{{$index+1}}</td>
        <td style="text-align: center;">{{item.label}}</td>
        <td>{{item.jumlah}}</td>
        <td>{{item.pria}}</td>
        <td>{{item.wanita}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="{{type}}" class="printing">
  <div ng-include="'../../../apps/views/grafik/data/cetak/umur.html'"></div>
</div>