<section class="content-header">
  <div class="row">
    <!-- /.col -->
    <div class="col">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Inbox</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="search" placeholder="Search Mail">

            </div>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
            </button>
            <div class="btn-group">
              <button type="button" ng-click="delete(messages)" class="btn btn-danger btn-sm">
                <i ng-show="!deleteBusy" class="far fa-trash-alt"></i>
                <spinner value="deleteBusy"></spinner>
              </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
            <div class="float-right">
            </div>
            <!-- /.float-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table datatable="ng" class="table table-hover table-striped">
              <tbody>
                <tr ng-repeat="item in messages|filter : search | orderBy: '-created'">
                  <td style="width: 2%;">
                    <div class="icheck-primary">
                      <input type="checkbox" value="" id="check1" ng-model="item.isChecked">
                      <label for="check1"></label>
                    </div>
                  </td>
                  <td ng-click="read(item)" class="mailbox-name" style="width: 15%;"><b>{{item.data.from}}</b></td>
                  <td ng-click="read(item)" class="mailbox-subject">
                    <b ng-if="!item.readed">{{item.message |limitTo:100}} {{item.message.length >100 ?"....":""}}</b>
                    <span ng-if="item.readed">{{item.message}}</span>
                  </td>
                  <td class="mailbox-date text-right">{{changedate(item.created)}}</td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">

        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>