<section class="content-header" ng-init="Init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div>
                    <div class="card-tools">
                        <h4>Data Penduduk</h4>
                    </div>
                    <div class="col-12">
                        <div class="card card-primary card-outline card-tabs">
                            <div class="card-header p-0 pt-1 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill"
                                            href="" data-target="#custom-tabs-two-home" role="tab"
                                            aria-controls="custom-tabs-two-home" aria-selected="true">Data Penduduk</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href=""
                                            data-target="#custom-tabs-two-profile" role="tab"
                                            aria-controls="custom-tabs-two-profile" aria-selected="false">Tambah</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-two-tabContent">
                                    <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel"
                                        aria-labelledby="custom-tabs-two-home-tab">
                                        <div class="card-body table-responsive p-0" style="height: 550px;">
                                            <table datatable="" class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>NIK</th>
                                                        <th>NKK</th>
                                                        <th>Status Dalam Keluarga</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in DataPenduduk">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{item.nama}}</td>
                                                        <td>{{item.nik}}</td>
                                                        <td>{{item.nkk}}</td>
                                                        <td>{{item.statusdalamkeluarga}}</td>
                                                        <td>
                                                            <button class="btn btn-primary">Ubah</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-two-profile-tab">
                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                            <div class="card card-default">
                                                <div class="card-header">
                                                    <h3 class="card-title">Input Data Penduduk</h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <form ng-submit="Simpan('Profile')" ng-submit="Simpan()">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Status Kepemilikan KTP</label>
                                                                    <select ng-options="item for item in KepemilikanKTP"
                                                                        class="form-control"
                                                                        ng-model="Penduduk.data.StatusKTP"></select>
                                                                </div>
                                                                <!-- /.form-group -->
                                                                <div class="form-group">
                                                                    <label>Nama</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.nama" placeholder="Nama">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Tanggal Lahir</label>
                                                                    <input type="date" class="form-control"
                                                                        ng-model="Penduduk.data.TanggalLahir"
                                                                        placeholder="Tanggal Lahir">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Dusun</label>
                                                                    <select ng-options="item for item in Dusun"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.Dusun"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>RT</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.RT">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Kode Pos</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.KodePos">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>E-Mail</label>
                                                                    <input type="email" class="form-control"
                                                                        ng-model="Penduduk.data.EMail"
                                                                        placeholder="Penduduk.data.E-Mail" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Golongan Darah</label>
                                                                    <div class="form-group clearfix">
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="radioPrimary1"
                                                                                value="A" name="r1" checked
                                                                                ng-model="Penduduk.data.GolonganDarah">
                                                                            <label for="radioPrimary1">
                                                                                A
                                                                            </label>
                                                                        </div>
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="radioPrimary2"
                                                                                value="B" name="r1"
                                                                                ng-model="Penduduk.data.GolonganDarah">
                                                                            <label for="radioPrimary2">
                                                                                B
                                                                            </label>
                                                                        </div>
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="radioPrimary3"
                                                                                value="AB" name="r1"
                                                                                ng-model="Penduduk.data.GolonganDarah">
                                                                            <label for="radioPrimary3">
                                                                                AB
                                                                            </label>
                                                                        </div>
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="radioPrimary4"
                                                                                value="O" name="r1"
                                                                                ng-model="Penduduk.data.GolonganDarah">
                                                                            <label for="radioPrimary4">
                                                                                O
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Status Perkawinan</label>
                                                                    <div class="form-group clearfix">
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="statusperkawinan1"
                                                                                value="Kawin" name="statusperkawinan"
                                                                                checked
                                                                                ng-model="Penduduk.data.StatusPerkawinan">
                                                                            <label for="statusperkawinan1">
                                                                                Kawin
                                                                            </label>
                                                                        </div>
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="statusperkawinan2"
                                                                                value="Belum" name="statusperkawinan"
                                                                                ng-model="Penduduk.data.StatusPerkawinan">
                                                                            <label for="statusperkawinan2">
                                                                                Belum
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Agama</label>
                                                                    <select ng-options="item for item in Agama"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.Agama"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Jenis Kelamin</label>
                                                                    <div class="form-group clearfix">
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="JenisKelamin1"
                                                                                value="Laki-laki" name="JenisKelamin"
                                                                                checked
                                                                                ng-model="Penduduk.data.JenisKelamin">
                                                                            <label for="JenisKelamin1">
                                                                                Laki-laki
                                                                            </label>
                                                                        </div>
                                                                        <div class="icheck-primary d-inline">
                                                                            <input type="radio" id="JenisKelamin2"
                                                                                value="Perempuan" name="JenisKelamin"
                                                                                ng-model="Penduduk.data.JenisKelamin">
                                                                            <label for="JenisKelamin2">
                                                                                Perempuan
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Penghasilan Tetap</label>
                                                                    <select
                                                                        ng-options="item for item in PenghasilanTetap"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.PenghasilanTetap"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Staus Kepemilikan Kartu Indonesia
                                                                        Sehat</label>
                                                                    <select ng-options="item for item in StatusKIS"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.StatusKIS"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Status Kepemilikan KK</label>
                                                                    <select ng-options="item for item in StatusKK"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.StatusKK"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>No. Kartu Keluarga</label>
                                                                    <select ng-options="item for item in noKK"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.nkk"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Nama Ayah</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.NamaAyah"
                                                                        placeholder="Nama Ayah">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Keterangan</label>
                                                                    <textarea class="form-control" rows="3"
                                                                        ng-model="Penduduk.data.Keterangan"
                                                                        placeholder="Keterangan"></textarea>
                                                                </div>
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>NIK</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.nik" placeholder="NIK">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Tempat Lahir</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.TempatLahir"
                                                                        placeholder="Tempat Lahir">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>No. Akta Kelahiran</label>
                                                                    <input type="number" class="form-control"
                                                                        ng-model="Penduduk.data.NoAktaKelahiran"
                                                                        placeholder="No. Akta Kelahiran">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Alamat</label>
                                                                    <textarea class="form-control" rows="3"
                                                                        ng-model="Penduduk.data.AlamatLengkap"
                                                                        placeholder="Alamat"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>RW</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.RW" placeholder="RW">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>No. Kontak</label>
                                                                    <input type="number" class="form-control"
                                                                        ng-model="Penduduk.data.NoKontak"
                                                                        placeholder="No. Kontak">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Perkerjaan</label>
                                                                    <select ng-options="item for item in Perkerjaan"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.Perkerjaan"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Pendidikan Terakhir</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.PendidikanTerakhir"
                                                                        placeholder="Pendidikan Terakhir">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Suku</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.Suku"
                                                                        placeholder="Suku">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Kewarganegaraan</label>
                                                                    <select
                                                                        ng-options="item for item in Kewarganegaraan"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.Kewarganegaraan"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Status Tempat Tinggal</label>
                                                                    <select ng-options="item for item in StatusTT"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.StatusTT"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Status Sosial</label>
                                                                    <select ng-options="item for item in StatusSosial"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.StatusSosial"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Staus Kepemilikan Kartu Indonesia
                                                                        Pintar</label>
                                                                    <select ng-options="item for item in StatusKIP"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.data.StatusKIP"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Status Dalam Keluarga</label>
                                                                    <select ng-options="item for item in StatusKeluarga"
                                                                        class="form-control select2"
                                                                        ng-model="Penduduk.StatusKeluarga"></select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Nama Ibu</label>
                                                                    <input type="text" class="form-control"
                                                                        ng-model="Penduduk.data.NamaIbu"
                                                                        placeholder="Nama Ibu">
                                                                </div>
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="submit"
                                                                class="btn btn-success">Submit</button>
                                                            <button type="submit"
                                                                class="btn btn-danger float-right">Cancel</button>
                                                        </div>
                                                        <!-- /.row -->
                                                    </div>
                                                </form>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>