<section class="content-header" ng-init="Init()">
    <div class="col">
        <div class="card-tools">
            <h4>Penduduk</h4>
        </div>
        <div class="card card-warning" ng-if="tab.list">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-list"></i>
                    &nbsp; List Penduduk
                </h3>
                <div class="card-tools">
                    <button class="btn btn-primary float-right" ng-click="tab.show('tambah')"><i
                            class="fa fa-plus"></i></button>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive p-0">
                    <table datatable="ng" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>NIK</th>
                                <th>NKK</th>
                                <th>Jenis Kelamin</th>
                                <th>Agama</th>
                                <th>Pekerjaan</th>
                                <th>RT / RW</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Datas">
                                <td>{{$index+1}}</td>
                                <td>{{item.nama}}</td>
                                <td>{{item.nik}}</td>
                                <td>{{item.nkk}}</td>
                                <td>{{item.jeniskelamin}}</td>
                                <td>{{item.agama}}</td>
                                <td>{{item.pekerjaan}}</td>
                                <td>{{stringnumber(item.rt)}} / {{stringnumber(item.rw)}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-info" ng-click="SelectedItemPenduduk(item, 'view')">
                                        <i class="fas fa-list"></i>
                                    </button>
                                    <button class="btn btn-warning" ng-click="SelectedItemPenduduk(item)"> <i
                                            class="fas fa-edit"></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-if="tab.tambah || tab.edit" class="card card-warning">
            <div class="card-header">
                <h3 class="card-title" ng-if="tab.tambah"><i class="fas fa-plus"></i>Tambah Surat Keterangan Cerai
                </h3>
                <h3 class="card-title" ng-if="tab.edit"><i class="fas fa-plus"></i>Ubah Surat </h3>
            </div>
            <div class="card-body">
                <form ng-submit="Simpan()" class="form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status
                                        Kepemilikan KTP</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statuskepemilikanktp"
                                            data-placeholder="Kepemilikanktp">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.KepemilikanKTP" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nama</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.nama"
                                            placeholder="Nama">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Tanggal
                                        Lahir</label>
                                    <div class="col-sm-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control"
                                                uib-datepicker-popup="EEEE, dd MMMM yyyy "
                                                ng-model="Penduduk.tanggallahir" is-open="popup1.opened"
                                                ng-required="true" close-text="Close"
                                                alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary"
                                                    ng-click="popup1.opened=!popup1.opened">
                                                    <i class="fa-svg-icon">
                                                        <svg width="1792" height="1792" viewBox="0 0 1792 1792"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                        </svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">NIK</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.nik"
                                            placeholder="NIK">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Tempat
                                        Lahir</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.tempatlahir"
                                            placeholder="Tempat lahir">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nomor Akta
                                        Lahir</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.aktalahir"
                                            placeholder="No. Akta Lahir">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Dusun</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.dusun"
                                            placeholder="Dusun">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">RT
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.rt" placeholder="RT">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Kode Post
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.kodepost"
                                            placeholder="Kode Post">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" ng-model="Penduduk.email"
                                            placeholder="example@mail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Alamat
                                        Lengkap</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="Penduduk.alamatlangkap"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">RW</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.rw" placeholder="RW">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nomor Kontak
                                        HP</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.kontakhp"
                                            placeholder="Nomor Kontak HP">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Golongan
                                        Darah</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.golongandarah"
                                            data-placeholder="Golongan Darah">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.GolonganDarah" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status
                                        Perkawinan</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statusperkawinan"
                                            data-placeholder="Pilih Status Perkawinan">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusPerkawinan" value="{{item}}">
                                                {{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Agama</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.agama"
                                            data-placeholder="Pilih Agama">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.Agama" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">JENIS
                                        KELAMIN</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.jeniskelamin"
                                            data-placeholder="Pilih Jenis Kelamin">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.JenisKelamin" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Dapat Membaca
                                        Huruf</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.bacahuruf"
                                            data-placeholder="Pilih Huruf">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.BacaHuruf" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Penghasilan
                                        Tetap</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.penghasilantetap"
                                            data-placeholder="Pilih Penghasilan">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.PenghasilanTetap" value="{{item}}">
                                                {{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Pekerjaan</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.pekerjaan"
                                            data-placeholder="Pilih Pekerjaan">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.Pekerjaan" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Pendidikan
                                        Terakhir</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.pendidikanterakhir"
                                            data-placeholder="Pilih Pendidikan">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.PendidikanTerakhir" value="{{item}}">
                                                {{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Suku</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.suku">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Kewarganegawaan</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.kewarganegawaan"
                                            data-placeholder="Pilih Kewargaan">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.Kewarganegawaan" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status Tempat
                                        Tinggal</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.tempattinggal"
                                            data-placeholder="Pilih Tempat Tinggal">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusTT" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status
                                        Sosial</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statussosial"
                                            data-placeholder="Pilih Status Sosial">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusSosial" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status
                                        Kepemilikan KIS</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statuskis"
                                            data-placeholder="Kartu Indonesia Sehat">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusKIS" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">StatusKepemilikan
                                        KIP</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statuskip"
                                            data-placeholder="Kartu Indonesia Pintar">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusKIP" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status
                                        Kepemilikan KK</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statuskk"
                                            data-placeholder="Kartu Keluarga">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusKK" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nomor KK</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.nkk">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nama
                                        Ayah</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Penduduk.namaayah">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Status Dalam
                                        Keluarga</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="Penduduk.statusdalamkeluarga"
                                            data-placeholder="Kartu Pilih Status Keluarga">
                                            <option value=""></option>
                                            <option ng-repeat="item in helper.StatusKeluarga" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Keterangan</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="Penduduk.keterangan"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="card-header">
                        </div><br>


                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-danger float-right" ng-click="tab.show('list')" >Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

