<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" sref=""><i class="fas fa-bars"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown">
      <inboxview></inboxview>
    </li>
    <li>
      <userlogin></userlogin>
    </li>
  </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="index3.html" class="brand-link">
    <img src="assets/images/logowon.png" alt="AdminLTE Logo" class="brand-image  elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">WON</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <fotoprofile></fotoprofile>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
          <a ui-sref="admin-home" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a ui-sref="admin-dataumumdesa" class="nav-link">
            <i class="nav-icon fas fa-id-card"></i>
            <p>
              Profile Desa
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview dropdown">
          <a class="nav-link has-treeview" data-toggle="dropdown" href="javascript:void(0)">
            <i class="nav-icon fas fa-id-card"></i>
            <p>
              Master Data
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="dropdown-menu">
            <li class="nav-item">
              <a ui-sref="admin-datapenduduk" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Penduduk</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-pejabat" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Pejabat</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-jenispermohonan" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Jenis Permohonan</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Inventaris Desa</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview dropdown">
          <a class="nav-link has-treeview" data-toggle="dropdown" href="javascript:void(0)">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Statistik
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="dropdown-menu">
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'umur'})" ui-sref-opts="{reload: true, notify: true}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kelompok Umur</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'agama'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kelompok Agama</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'baca huruf'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Baca Huruf</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'golongan darah'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Golongan Darah</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'jenis kelamin'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Jenis Kelamin</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'kedudukan dalam keluarga'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status Keluarga</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'kewarganegaraan'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kewarganegaraan</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'pekerjaan'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pekerjaan</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'pendidikan'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pendidikan</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'penghasilan'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Penghasilan</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'status KIP'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status KIP</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'status KIS'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status KIS</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'status KK'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status KK</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'status perkawinan'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status Perkawinan</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'status sosial'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Status Sosial</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'suku'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Suku</p>
              </a>
            </li>
            <li class="nav-item">
              <a ui-sref="admin-grafik({param:'tempat tinggal'})" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tempat Tinggal</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a ui-sref="admin-surat" class="nav-link">
            <i class="nav-icon fas fa-envelope"></i>
            <p>
              Surat Menyurat
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a ui-sref="admin-edit-suratketdomisili({id:3})" class="nav-link">
            <i class="nav-icon fas fa-envelope"></i>
            <p>
              Surat Menyurat Test
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-folder"></i>
            <p>
              Arsip Surat
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/forms/general.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Surat Masuk</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/advanced.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Surat keluar</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<div class="content-wrapper">
  <ui-view></ui-view>
</div>
<footer class="main-footer">
  <strong>Copyright @ 2020 </strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <!-- <b>Version</b> 0.0.1 -->
  </div>
</footer>



<style>
  #dropdown-menu {
    position: sticky !important;
    transform: unset !important;
    margin-left: 10px;
    background: #343a40;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    /* will-change: none !important; */
  }
</style>