<section class="content-header">
  <div class="col">


    <searchsurat></searchsurat>
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">
          List Permohonan
        </h3>
      </div>
      <div class="card-body">
        <div class="table-responsive p-0">
          <table datatable="ng" class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th width="5px">No</th>
                <th>Kode</th>
                <th>NIK</th>
                <th>Nama </th>
                <th>No Surat</th>
                <th>Tanggal Pengajuan</th>
                <th>Jenis Permohonan</th>
                <th width="10px">Option</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in datas | orderBy: ['-SetButtonApproved', '-idpermohonan']">
                <td>{{$index+1}}</td>
                <td>{{pad(item.idpermohonan)}}</td>
                <td>{{item.nik}}</td>
                <td>{{item.nama}}</td>
                <td>{{item.nomorsurat}}</td>
                <td>{{item.tanggalpengajuan | date: format: 'dd MMMM yyyy'}}</td>
                <td>{{item.namapermohonan}}</td>
                <td>
                  <a href="javascript:void(0)" class="btn btn-warning" ng-click="go(item)"><i
                      class="fas fa-eye"></i></a>
                  <a href="javascript:void(0)" ng-if="item.SetButtonApproved" class="btn btn-info"
                    ng-click="Setuju(item)"><i class="fas fa-check"></i></a>
                  <a href="javascript:void(0)" ng-if="item.SetButtonApproved && UserRole !== 'admin'"
                    class="btn btn-danger" ng-click="TampilPesan(item, 'tolak')"><i class="fas fa-ban"></i></a>
                  <a href="javascript:void(0)" ng-if="item.SetButtonApproved && UserRole !== 'admin'"
                    class="btn btn-secondary" ng-click="TampilPesan(item, 'kembali')"><i class="fas fa-undo"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade" id="TampilPesan">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h4 class="modal-title">Pesan Penolakan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><textarea id="" cols="30" rows="10" ng-model="model.message" class="form-control"></textarea> &hellip;
            </p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal"
              ng-click="pesanbatal.errorText('Proses Penolakan di batalkan!!!')">Close</button>
            <button type="button" ng-if="Setting=='tolak'" class="btn btn-primary" ng-click="Tolak()">Tolak</button>
            <button type="button" ng-if="Setting=='kembali'" class="btn btn-primary"
              ng-click="Kembali()">Kembalikan</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</section>