<div class="card card-warning">
  <section class="content-header" ng-init="Init()">
    <div class="col">
      <searchsurat value='mo'></searchsurat>
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-list"></i>
            List Permohonan Keterangan Usaha
          </h3>
          <div class="card-tools">
            <button class="btn btn-primary btn-tools" ng-click="go('Tambah')"><i class="fa fa-plus"></i></button>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="card-body table-responsive p-0">
            <table datatable="ng" class="table table-head-fixed text-nowrap">
              <thead>
                  <tr>
                      <th width="1%">No</th>
                      <th>Kode</th>
                      <th>No.Surat</th>
                      <th>NIK</th>
                      <th>Nama</th>
                      <th>Nama Usaha</th>
                      <th>Jenis Usaha</th>
                      <th>Tanggal Berlaku</th>
                      <th>Keterangan</th>
                      <th>Pejabat</th>
                      <th>Progress</th>
                      <th width="10%">Option</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in Datas | orderBy: ['-SetButtonApproved', '-idpermohonan']">
                      <td>{{$index+1}}</td>
                      <td>{{pad(item.idpermohonan)}}</td>
                      <td>{{item.nomorsurat}}</td>
                      <td>{{item.nik}}</td>
                      <td>{{item.nama}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{item.data.keterangan}}</td>
                      <td>{{item.namapejabat}}</td>
                      <td>{{item.progress}}</td>
                      <td>
                          <a href="javascript:void(0)" ng-class="item.SetButtonPrint?'':'disabled'"
                              class="btn btn-primary" ng-click="Print('suratTidakMampu', item)">
                              <i class="fas fa-print"></i></a>
                          <a href="javascript:void(0)" title="Detail Permohonan" class="{{item.btncollor}}"
                              ng-click="go(item)"><i class="fas fa-eye"></i></a>
                      </td>
                  </tr>
              </tbody>
          </table>

        </div>
    </div>
</div>
</section>
</div>