<section class="content-header" ng-init="Init()">
    <div class="col">
        <div class="card-tools">
            <h4>Surat Kelahiran</h4>
        </div>
        <div ng-if="tab.list" class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-list"></i>
                    List Surat
                </h3>
                <div class="card-tools">
                    <button class="btn btn-primary float-right" ng-click="tab.show('tambah')"><i
                            class="fa fa-plus"></i></button>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive p-0">
                    <table datatable="ng" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No.Surat</th>
                                <th>Hari</th>
                                <th>Nama Anak</th>
                                <th>Keterangan Ibu</th>
                                <th>Nama Ayah</th>
                                <th>Pejabat</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Datas">
                                <td>{{$index+1}}</td>
                                <td>{{item.data.nomorsurat}}</td>
                                <td>{{item.data.harilahir}}</td>
                                <td>{{item.data.namaanak}}</td>
                                <td>{{item.data.namaibu}}</td>
                                <td>{{item.nama}}</td>
                                <td ng-if="item.data.pejabat.atasnama == undefined">{{item.data.pejabat.nama}}</td>
                                <td ng-if="item.data.pejabat.atasnama != undefined">{{item.data.pejabat.atasnama}}
                                </td>
                                <td>
                                    <a href="javascript:void(0)" ng-class="item.SetButtonPrint?'':'disabled'"
                                        class="btn btn-primary" ng-click="Print('suratKelahiran', item)">
                                        <i class="fas fa-print"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-warning" ng-click="Edit(item)"><i
                                            class="fas fa-edit"></i></a>
                                    <a href="javascript:void(0)" ng-class="item.SetButtonApproved?'':'disabled'"
                                        class="btn btn-success" ng-click="Setujui(item)"><i
                                            class="fas fa-check"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.card-body -->
        </div>
        <div ng-if="tab.tambah || tab.edit" class="card card-warning">
            <div class="card-header">
                <h3 class="card-title" ng-if="tab.tambah"><i class="fas fa-plus"></i>Tambah Surat Keterangan Kelahiran
                </h3>
                <h3 class="card-title" ng-if="tab.edit"><i class="fas fa-plus"></i>Ubah Surat</h3>
            </div>
            <div class="card-body">
                <form ng-submit="Simpan()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">No Surat</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control  " ng-model="model.data.nomorsurat"
                                            value="021/KEL-WAENA/KH/III/2000" placeholder="No Surat">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Hari Tanggal Lahir</label>
                                    <div class="col-sm-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control"
                                                uib-datepicker-popup="EEEE, dd MMMM yyyy "
                                                ng-model="model.data.tanggallahir" is-open="popup1.opened"
                                                ng-required="true" close-text="Close"
                                                alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary"
                                                    ng-click="popup1.opened=!popup1.opened">
                                                    <i class="fa-svg-icon">
                                                        <svg width="1792" height="1792" viewBox="0 0 1792 1792"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                        </svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tempat Lahir</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="model.data.tempatlahir"
                                            placeholder="Tempat Lahir">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Anak</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="model.data.namaanak"
                                            placeholder="Bernama">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Jenis
                                        Kelamin</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="model.data.jeniskelamin"
                                            ng-options="item as item for item in JenisKelamin"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Ayah</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="model.data.idpendudukayah"
                                            placeholder="Cari NIK/Nama Warga"
                                            uib-typeahead="state as state.nik+' - '+state.nama for state in ListPenduduk | filter:$viewValue   | limitTo:8"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Ibu</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="model.data.idpendudukibu"
                                            placeholder="Cari NIK/Nama Warga"
                                            uib-typeahead="state as state.nik+' - '+state.nama for state in ListPenduduk | filter:$viewValue   | limitTo:8"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Alamat</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="model.data.alamat" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                                    <div class="col-sm-8 autoComplete">
                                        <input type="text" placeholder="Cari Pejabat" ng-model="model.data.pejabat" uib-typeahead="state as state.nama+' - '+state.namajabatan for state in dataPejabat | filter:$viewValue | limitTo:8" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                    </div>
                    <div class="card-footer">
                        <button ng-show="tab.tambah || tab.edit" type="submit" class="btn btn-success">Simpan</button>
                        <button type="button" class="btn btn-danger float-right"
                            ng-click="tab.show('list')">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="suratKelahiran" class="printing">
        <div ng-include="'../../../apps/views/admin/formatsurat/formatkelahiran.html'"></div>
    </div>
</section>