<div class="card card-warning">
  <section class="content-header" ng-init="Init()">
    <div class="col">
      <searchsurat value='mo'></searchsurat>
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-list"></i>
            List Permohonan Keterangan Penguasaan Tanah
          </h3>
          <div class="card-tools">
            <button class="btn btn-primary btn-tools" ng-click="go('Tambah')"><i class="fa fa-plus"></i></button>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="card-body table-responsive p-0">
            <table datatable="ng" class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>No.Surat</th>
                  <th>NIK</th>
                  <th>Nama</th>
                  <th>Luas Tanah</th>
                  <th>Batas Wilayah</th>
                  <th>Tanggal Perolehan Tanah</th>
                  <th>Pejabat</th>
                  <th>Progress</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in Datas">
                  <td>{{$index+1}}</td>
                  <td>{{item.No.Surat}}</td>
                  <td>{{item.nik}}</td>
                  <td>{{item.nama}}</td>
                  <td>{{item.data.luastanah}}</td>
                  <td>{{item.data.bataswilayah}}</td>
                  <td>{{item.data.tanggalperolehantanah}}</td>
                  <td>{{item.namapejabat}}</td>
                  <td>{{item.progress}}</td>
                  <td>
                    <a href="javascript:void(0)" ng-class="item.SetButtonPrint?'':'disabled'" class="btn btn-primary"
                      ng-click="Print('suratTidakMampu', item)">
                      <i class="fas fa-print"></i></a>
                    <a href="javascript:void(0)" title="Detail Permohonan" class="{{item.btncollor}}"
                      ng-click="go(item)"><i class="fas fa-eye"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </section>
</div>