<section class="content-header" ng-init="Init()">
    <div class="col" ng-show="TabList">
        <div class="card-tools">
            <h4>Surat Keterangan Cerai</h4>
        </div>
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-list"></i>
                    List Surat
                </h3>
                <div class="card-tools">
                    <button class="btn btn-primary float-right" ng-click="TabTambah()"><i
                            class="fa fa-plus"></i></button>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive p-0" ng-if="TabList">
                    <table datatable="" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NIK Suami</th>
                                <th>Nama Suami</th>
                                <th>No.Surat</th>
                                <th>Pejabat</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Datas">
                                <td>{{$index+1}}</td>
                                <td>{{item.data.suami.nik}}</td>
                                <td>{{item.data.suami.nama}}</td>
                                <td>{{item.data.No.Surat}}</td>
                                <td>{{item.Pejabat}}</td>
                                <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option1" autocomplete="off">
                                            <i class="fas fa-edit"></i>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">
                                            <i class="fas fa-print"></i>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3" autocomplete="off"><i
                                                class="fas fa-search"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="TabList" class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                Tambah Surat Keterangan Cerai
            </h3>
        </div>
        <div class="card-body">
            <form ng-submit="Simpan()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">NIK Suami</label>
                                <div class="col-sm-8">
                                    <select ui-select2 class="form-control" ng-model="model.data.suami"
                                        ng-options="item.nama+'-'+item.nik for item in ListPenduduk"
                                        data-placeholder="NIK / Nama Suami">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">NIK Istri</label>
                                <div class="col-sm-8">
                                    <select ui-select2 class="form-control" ng-model="model.data.istri"
                                        ng-options="item.nama+'-'+item.nik for item in ListPenduduk"
                                        data-placeholder="NIK / Nama Istri">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nama Suami</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.suami.nama"
                                        placeholder="Nama Suami">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nama Istri</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.istri.nama"
                                        placeholder="Nama Istri">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header"></div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nomor Surat</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.nomorsurat"
                                        placeholder="Nomor Surat">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Keterangan Nikah</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" ng-model="model.data.keterangan" rows="3"
                                        placeholder="Keterangan Nikah">
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header"></div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Pejabat Atas Nama</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.pejabat.atasnama">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.pejabat.nama">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Jabatan Pengesah</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.pejabat.namajabatan">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">NIP/NIAP Pengesah</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="model.data.pejabat.nik" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header"></div><br>
                </div>
                <div class="card-footer">
                    <button ng-show="TabTambah || TabEdit" type="submit" class="btn btn-success">Simpan</button>
                    <button type="button" class="btn btn-danger float-right"
                        ng-click="ShowList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div id="suratTidakMampu" class="printing">
        <div ng-include="'../../../apps/views/admin/formatsurat/formatketcerai.html'"></div>
    </div>

</section>
<div ng-if="TabEdit" class="modal fade" id="EditKelahiran">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title">Edit Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="Simpan()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">No Surat</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                            ng-model="SuratKelahiran.data.nomorsurat" value="021/KEL-WAENA/KH/III/2000"
                                            placeholder="No Surat">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Hari Lahir</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="SuratKelahiran.data.harilahir"
                                            placeholder="Masukkan Tanggal Lahir" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
                                    <div class="col-sm-8">
                                        <datepicker date-format="yyyy-MM-dd">
                                            <input type="text" class="form-control" ng-model="TanggalLahir"
                                                placeholder="Tanggal Lahir" ng-change="SelectTanggalLahir()" />
                                        </datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tempat Lahir</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                            ng-model="SuratKelahiran.data.tempatlahir" placeholder="Tempat Lahir">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Anak</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="SuratKelahiran.data.namaanak"
                                            placeholder="Bernama">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Jenis
                                        Kelamin</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control"
                                            ng-model="SuratKelahiran.data.jeniskelamin"
                                            data-placeholder="Pilih Jenis Kelamin">
                                            <option value=""></option>
                                            <option ng-repeat="item in JenisKelamin" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Ayah</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="ItemAyah"
                                            ng-change="SelectedOrtu('Ayah')" data-placeholder="Pilih NIK/Nama">
                                            <option value=""></option>
                                            <option ng-repeat="item in ListPenduduk" value="{{item}}">
                                                {{item.nik}}&nbsp;-&nbsp;{{item.nama}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Ibu</label>
                                    <div class="col-sm-8">
                                        <select ui-select2 class="form-control" ng-model="ItemIbu"
                                            ng-change="SelectedOrtu('Ibu')" data-placeholder="Pilih NIK/Nama">
                                            <option value=""></option>
                                            <option ng-repeat="item in ListPenduduk" value="{{item}}">
                                                {{item.nik}}&nbsp;-&nbsp;{{item.nama}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Alamat</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" ng-model="SuratKelahiran.data.alamat"
                                            rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Pejabat Atas Nama</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Pejabat.atasnama">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Pejabat.nama">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Jabatan Pengesah</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Pejabat.namajabatan">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">NIP/NIAP Pengesah</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Pejabat.data.nik">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Simpan</button>
                        <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
