<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Data Surat</h3>
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <select ng-options="item as item for item in KepemilikanKTP"></select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable="" class="table hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>No. Surat</th>
                                <th>Tanggal Cetak Surat</th>
                                <th>Atas Nama</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1234567891234560</td>
                                <td>Bagus Joko Susilo</td>
                                <td>011</td>
                                <td>19 Februari 2020</td>
                                <td>Pjs. Kepala Desa
                                    /JUMALI</td>
                                <td>
                                    <button title="Edit Data"><i class="fas fa-edit"></i></button>
                                    <button title="Hapus"><i class="fas fa-trash-alt"></i></button>
                                    <button title="Cetak"><i class="fas fa-print"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
    </div>
</section>