<!-- <script>
  $(function () {
    $("#Content").load("../../../apps/views/admin/formatsurat/formattidakmampu.html");
  });
</script> -->
<section class="content-header" ng-init="Init()">
  <div class="col">
    <div class="card-tools">
      <h4>Surat Keterangan Tidak Mampu</h4>
    </div>
    <div class="card card-primary card-outline card-tabs">
      <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href=""
              data-target="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home"
              aria-selected="true">Lihat Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href=""
              data-target="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile"
              aria-selected="false">Tambah Data
              Surat
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-two-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel"
            aria-labelledby="custom-tabs-two-home-tab">
            <div class="card-body table-responsive p-0" style="height: 550px;">
              <table datatable="" class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                    <th width="2px">ID</th>
                    <th>NIK</th>
                    <th>Nama</th>
                    <th>No.Surat</th>
                    <!-- <th>Atas Nama</th> -->
                    <th width="10px">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in DatasSuratTidakMampu">
                    <td>{{$index+1}}</td>
                    <td>{{item.nik}}</td>
                    <td>{{item.data.penduduk.nama}}</td>
                    <td>{{item.data.nomorsurat}}</td>
                    <!-- <td ng-show="item.data.pejabat.atasnama == undefined">{{item.data.pejabat.nama}}</td>
                    <td ng-show="item.data.pejabat.atasnama != undefined">{{item.data.pejabat.atasnama}}</td> -->
                    <td>
                      <button class="btn btn-primary" ng-click="Selecteddata('suratTidakMampu', item)"><i
                          class="fas fa-print"></i></button>
            </div>
            </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel"
          aria-labelledby="custom-tabs-two-profile-tab">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="card card-default">
              <!-- /.card-header -->
              <form ng-submit="Simpan()">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">NIK/Nama</label>
                        <div class="col-sm-8">
                          <select ui-select2 class="form-control" ng-model="ItemPenduduk" ng-change="SelectedPenduduk()"
                            data-placeholder="Kepemilikanktp">
                            <option value=""></option>
                            <option ng-repeat="item in ListPenduduk" value="{{item}}">
                              {{item.nik}}&nbsp;-&nbsp;{{item.nama}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nomor Surat</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="SuratTidakMampu.data.nomorsurat"
                            placeholder="Nomor Surat">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header"></div><br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Pejabat Atas Nama</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="Pejabat.atasnama">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="Pejabat.nama">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Jabatan Pengesah</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="Pejabat.namajabatan">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">NIP/NIAP Pengesah</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="Pejabat.data.nik">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header"></div><br>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-success">Simpan</button>
                    <button type="submit" class="btn btn-danger float-right">Cancel</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="suratTidakMampu" class="printing">
    <div ng-include="'../../../apps/views/admin/formatsurat/formattidakmampu.html'"></div>
  </div>
</section>