<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Surat Menyurat</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Surat Pengantar KTP</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Surat Pengantar KTP</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>No. Surat</th>
                                <th>Footer Cetak Data</th>
                                <th>Atas Nama</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1234567891234560</td>
                                <td>Bagus Joko Susilo</td>
                                <td>011</td>
                                <td>Kurungan Nyawa 1, 19 Februari 2020	</td>
                                <td>Pjs. Kepala Desa
                                    /JUMALI</td>
                                <td>
                                    <button><i class="fas fa-edit"></i></button>
                                    <button><i class="fas fa-trash-alt"></i></button>
                                    <button><i class="fas fa-print"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->

<!-- /.content-wrapper -->


<!-- jQuery -->
<!-- <script src="../../../../node_modules\jquery\dist/jquery.min.js"></script> -->
<!-- Bootstrap 4 -->
<!-- <script src="../../../..client\assets\bootstrap\js/bootstrap.bundle.min.js"></script> -->
<!-- DataTables -->
<!-- <script src="../../../../node_modules\datatables.net\js/jquery.dataTables.js"></script> -->
<!-- <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script> -->
<!-- AdminLTE App -->
<!-- <script src="../../../../client\assets\dist\js/adminlte.min.js"></script> -->
<!-- AdminLTE for demo purposes -->
<!-- <script src="../../../../client/assets\dist/js/demo.js"></script> -->
<!-- page script -->
<!-- <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script> -->