<section class="content-header" ng-init="Init()">
    <div class="col">
        <h5>Layanan Surat</h5>
        <div class="col-md-5">
            <div class="form-group row">
                <div class="col-sm-8">
                        <select class="form-control" select2="" name="country" data-ng-model="state" ng-options="item as item.nama for item in DatasJenis" data-placeholder="Pick a number">
                          </select>
                </div>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</section>