<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Profile Desa</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                            class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama Desa</label>
                            <input type="text" class="form-control" placeholder="Nama Desa">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Nama Kepala Desa</label>
                            <input type="text" class="form-control" placeholder="Nama Kepala Desa">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Luas Wilayah</label>
                            <input type="text" class="form-control" placeholder="Luas Wilayah" disabled>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Jumlah Penduduk</label>
                            <input type="text" class="form-control" placeholder="Jumlah Penduduk" disabled>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Luas Wilayah</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                            class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Lahan Sawah</label>
                            <input type="text" class="form-control" placeholder="Lahan Sawah">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Lahan Ladang</label>
                            <input type="text" class="form-control" placeholder="Lahan Ladang">
                        </div>
                        <div class="form-group">
                            <label>Lahan Perkebunan</label>
                            <input type="text" class="form-control" placeholder="Lahan Perkebunan">
                        </div>
                        <div class="form-group">
                            <label>Lahan Perternakan</label>
                            <input type="text" class="form-control" placeholder="Lahan Perternakan">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Hutan</label>
                            <input type="text" class="form-control" placeholder="Hutan">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Waduk/Danau</label>
                            <input type="text" class="form-control" placeholder="Waduk/Danau">
                        </div>
                        <div class="form-group">
                            <label>Lahan Lainnya</label>
                            <input type="text" class="form-control" placeholder="Lahan Lainnya">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Jumlah Penduduk</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                            class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pria</label>
                            <input type="text" class="form-control" placeholder="Pria">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Wanita</label>
                            <input type="text" class="form-control" placeholder="Wanita">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Usia 0-17</label>
                            <input type="text" class="form-control" placeholder="Usia 0-17">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Usia 18-56</label>
                            <input type="text" class="form-control" placeholder="Usia 18-56">
                        </div>
                        <div class="form-group">
                            <label>Usia 56 ke-atas</label>
                            <input type="text" class="form-control" placeholder="Usia 56 ke-atas">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Perkerjaan / Mata Pencaharian</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                            class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Karyawan</label><br>
                            <label>Pegawai Negeri Sipil</label>
                            <input type="text" class="form-control" placeholder="Pegawai Negeri Sipil">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>TNI/POLRI</label>
                            <input type="text" class="form-control" placeholder="TNI/POLRI">
                        </div>
                        <div class="form-group">
                            <label>Swasta</label>
                            <input type="text" class="form-control" placeholder="Swasta">
                        </div><br><br><br><br>
                        <div class="form-group">
                            <label>Tidak Bekerja</label>
                            <input type="text" class="form-control" placeholder="Tidak Bekerja">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Wiraswasta/Pedagang</label><br>
                            <label>Petani</label>
                            <input type="text" class="form-control" placeholder="Petani">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Buruh Tani</label>
                            <input type="text" class="form-control" placeholder="Buruh Tani">
                        </div>
                        <div class="form-group">
                            <label>Nelayan</label>
                            <input type="text" class="form-control" placeholder="Nelayan">
                        </div>
                        <div class="form-group">
                            <label>Peternak</label>
                            <input type="text" class="form-control" placeholder="Peternak">
                        </div>
                        <div class="form-group">
                            <label>Jasa</label>
                            <select class="form-control select2"style="width: 100%;">
                                <option selected="selected">Pilih Salah Satu</option>
                                <option>Bidan</option>
                                <option>Guru Honor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Pengrajin</label>
                            <input type="text" class="form-control" placeholder="Nelayan">
                        </div>
                        <div class="form-group">
                            <label>Pekerja Seni</label>
                            <input type="text" class="form-control" placeholder="Pekerja Seni">
                        </div>
                        <div class="form-group">
                            <label>Pensiunan</label>
                            <input type="text" class="form-control" placeholder="Pensiunan">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-danger float-right">Cancel</button>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Orbitasi (Jarak Dari Pusat Pemerintahan)</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                            class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Jarak dari Pusat Pemerintahan Kecamatan</label>
                            <input type="text" class="form-control"
                                placeholder="Jarak dari Pusat Pemerintahan Kecamatan" disabled>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Jarak dari Pusat Pemerintahan Kota</label>
                            <input type="text" class="form-control" placeholder="Jarak dari Pusat Pemerintahan Kota"
                                disabled>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Jarak dari kota/Ibukota Kabupaten</label>
                            <input type="text" class="form-control" placeholder="Jarak dari kota/Ibukota Kabupaten"
                                disabled>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Jarak dari Ibukota Provinsi</label>
                            <input type="text" class="form-control" placeholder="Jarak dari Ibukota Provinsi" disabled>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</section>