<section class="content-header" ng-init="Init()">
    <div class="col">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title" ng-if="tab.tambah"><i class="fas fa-plus"></i>Tambah Surat Keterangan Belum
                    Menikah
                </h3>
                <h3 class="card-title" ng-if="tab.edit"><i class="fas fa-plus"></i>&nbsp; Detail Permohonan</h3>
            </div>
            <div class="card-body">
                <form ng-submit="Simpan()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">No Surat</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="model.nomorsurat"
                                            placeholder="No Surat">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">NIK</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="model.data.idpenduduk"
                                            typeahead-on-select="SelectedRT()" placeholder="Cari NIK/Nama Warga"
                                            uib-typeahead="state as state.nik+' - '+state.nama for state in ListPenduduk | filter:$viewValue   | limitTo:8"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">RT</label>
                                    <div class="col-sm-8">
                                        <input type="text" placeholder="RT/RW" class="form-control"
                                            ng-value="'RT. '+model.data.RT.data.nomorrt+' / RW.'+model.data.RT.data.nomorrw"
                                            disabled>
                                        <!-- <select ui-select2 class="form-control" ng-model="ItemRT" data-placeholder="RT"
                                            ng-change="SelectedRT()">
                                            <option value=""></option>
                                            <option ng-repeat="item in ListRT" value="{{item}}">
                                                {{item.data.nomor}}</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tanggal Surat
                                        Pengantar</label>
                                    <div class="col-sm-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy "
                                                ng-model="model.data.tanggalsuratpengantar" is-open="popup1.opened"
                                                ng-required="true" close-text="Close"
                                                alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary"
                                                    ng-click="popup1.opened=!popup1.opened">
                                                    <i class="fa-svg-icon">
                                                        <svg width="1792" height="1792" viewBox="0 0 1792 1792"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                        </svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">No Surat Pengantar</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                            ng-model="model.data.nomorsuratpengantar" placeholder="No Surat Pengantar">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Ketua RT</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="model.data.RT.nama"
                                            placeholder="Ketua RT" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Nama Pejabat Pengesah</label>
                                    <div class="col-sm-8 autoComplete">
                                        <input type="text" placeholder="Cari Pejabat" ng-model="model.data.pejabat"
                                            uib-typeahead="state as state.nama+' - '+state.namajabatan for state in dataPejabat | 
                                          filter:$viewValue
                                          | limitTo:8" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header"></div><br>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-warning float-right" ng-click="Batal()">Kembali</button>
                        <button type="button" ng-if="UserRole !== 'admin' && item.SetButtonApproved"
                            class="btn btn-danger float-right" ng-click="TampilPesan(item)">Tolak</button>
                        <button ng-if="item.SetButtonApproved" type="button" class="btn btn-primary float-right"
                            ng-click="Setuju()">Setuju</button>
                        <button type="submit" class="btn btn-success float-right">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="suratTidakMampu" class="printing">
        <div ng-include="'../../../apps/views/admin/formatsurat/formatkematian.html'"></div>
    </div>
</section>

<div class="modal fade" id="Pesan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title">Pesan Penolakan</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><textarea id="" cols="30" rows="10" ng-model="model.message" class="form-control"></textarea>
                    &hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    ng-click="pesanbatal.errorText('Proses Penolakan di batalkan!!!')">Close</button>
                <button type="button" class="btn btn-primary" ng-click="Tolak()">Tolak</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>