<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div align="center"><img src="../../../assets/images/logowon.png" class="logowon" /></div>
                <br>
                <form class="login-form">
                    <h5 align="left">Tinggal satu langkah lagi.<br>Masukkan Password Baru Anda.</h5>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Konfirmasi Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block">Ubah Password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br>
                <p align="center"><a href="login.html">Log In</a></p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>