<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div align="center"><img class="logowon" src="../../../assets/images/logowon.png" /></div>
                <form class="login-form">
                    <h5 align="left">Lupa Password Anda ?</h5>
                    <p align="left">Kami Akan Mengirimkan E-Mail Untuk Merubah Password Anda.</p><br>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="E-Mail">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block">Request Password Baru</button>
                        </div>
                    </div>
                    <div class="row login-footer">
                        <div class="col-6">
                            <a ui-sref="login">Log In</a>
                        </div>
                        <div class="col-6">
                            <a ui-sref="register" class="text-center">Daftar Baru</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>