<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div align="center"><img class="logowon" src="../../../assets/images/logowon.png" /></div>
        <p class="login-box-msg">Sign In Untuk Memulai Sesi Anda</p>
        <form method="post" ng-submit="login(model)" class="login-form">

          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="E-Mail" ng-model="model.username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" ng-model="model.password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-success btn-block">Sign In
                <spinner value="isBusy"></spinner>
            </div>
            <!-- /.col -->
          </div>
          <div class="row login-footer">
            <div class="col-6"><a ui-sref="resetpassword">Lupa Password ?</a></div>
            <div class="col-6"><a ui-sref="register">Daftar Akun Baru</a></div>
          </div>
        </form>

      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

</div>