<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href=""></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body" style="padding: 25px;">
        <img src="../../../assets/images/logowon.png" style="width: 180px; height: 180px;">
        <p class="login-box-msg">Login</p>

        <form ng-submit="login(model)">
          <div class="input-group mb-3">
            <input type="email" ng-model="model.username" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input ng-model="model.password" type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        
            <!-- /.col -->
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p>
          <a ui-sref="resetpassword" style="text-align: left;">Lupa Password</a> |
          <a ui-sref="register" style="text-align: right;">Registrasi</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->


</body>