<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card">
      <div class="card-body register-card-body">
        <div align="center"><img src="../../../assets/images/logowon.png" class="logowon" /></div>
        <form action="../../index.html" method="post" class="login-form">
          <h5 align="left">Registrasi Akun Baru.</h5><br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nama Lengkap">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="E-Mail">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Konfirmasi Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block">Registrasi</button>
            </div>
          </div>
          <div class="row login-footer">
            <div class="col text-center"><a ui-sref="login">Log In</a></div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</div>