<link rel="stylesheet" href="/assets/sites.css">
<div class="surat">
    <div class="header">
        <img class="logo" src="assets/images/logojayapura.png">
        <div>
            <b>PEMERINTAH KOTA JAYAPURA<br>
                KELURAHAN WAENA<br>
                DISTRIK HERAM</b>
        </div>
    </div>
    <hr id="hr-formatSurat" />
    <div class="subheader">
        SURAT KELAHIRAN<br>Nomor : 212/SKD/VI/2020<br></br>
    </div>

    <div class="body">
        <table align="center" cellpadding="1" style="width: 700px;">
            <tbody>

                <tr>
                    <td colspan="3">
                        <div style="font-family: verdana; text-align: justify;">
                            <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan
                                waena kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table cellpadding="1" style="width: 500px;">
                            <tbody>
                                <tr>
                                    <td rowspan="27" style="width: 20px;"></td>
                                    <td width="93">
                                        <span">NIK</span>
                                    </td>
                                    <td width="8"><span>:</span></td>
                                    <td width="200"><span>1234567890</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span">Nama</span>
                                    </td>
                                    <td><span>:</span></td>
                                    <td><span>Ajen</span></td>
                                </tr>
                                <tr>
                                    <td><span>Tempat, Tanggal Lahir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Jayapura, 26 Maret 1988</span></td>
                                </tr>
                                <tr>
                                    <td><span>Jenis Kelamin</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Laki-laki</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pekerjaan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Pegawai Swasta</span></td>
                                </tr>
                                <tr>
                                    <td><span>Agama</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Kristen</span></td>
                                </tr>
                                <tr>
                                    <td><span>Status Perkawinan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Belum Menikah</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pendidikan Terakhir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>SMA / Sederajat</span></td>
                                </tr>
                                <tr>
                                    <td><span>Alamat</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Abepura</span></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="height: 50px;">Telah Meningal dunia pada :</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span">Hari, Tanggal</span>
                                    </td>
                                    <td><span>:</span></td>
                                    <td><span>Ajen</span></td>
                                </tr>
                                <tr>
                                    <td><span>Waktu</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Jayapura, 26 Maret 1988</span></td>
                                </tr>
                                <tr>
                                    <td><span>Bertempat di</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Laki-laki</span></td>
                                </tr>
                                <tr>
                                    <td><span>Dimakamkan di</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Pegawai Swasta</span></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="height: 50px;">Surat Keterangan ini dibuat berdasarkan
                                        keterangan pelapor :</td>
                                </tr>
                                <tr>
                                    <td width="93">
                                        <span">NIK</span>
                                    </td>
                                    <td width="8"><span>:</span></td>
                                    <td width="200"><span>1234567890</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span">Nama</span>
                                    </td>
                                    <td><span>:</span></td>
                                    <td><span>Ajen</span></td>
                                </tr>
                                <tr>
                                    <td><span>Tempat, Tanggal Lahir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Jayapura, 26 Maret 1988</span></td>
                                </tr>
                                <tr>
                                    <td><span>Jenis Kelamin</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Laki-laki</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pekerjaan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Pegawai Swasta</span></td>
                                </tr>
                                <tr>
                                    <td><span>Agama</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Kristen</span></td>
                                </tr>
                                <tr>
                                    <td><span>Status Perkawinan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Belum Menikah</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pendidikan Terakhir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>SMA / Sederajat</span></td>
                                </tr>
                                <tr>
                                    <td><span>Alamat</span></td>
                                    <td><span>:</span></td>
                                    <td><span>Abepura</span></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="height: 50px;">Hubungan pelapor dengan yang meninggal : anak
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="text-align: justify;">
                            <span style="font-family: Verdana;"><br>&emsp;&emsp;Demikian surat pengantar ini kami buat
                                agar dapat dipergunakan sebagaimana mestinya dan penuh tanggung
                                jawab.<br><br><br><br></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        <p> Jayapura, {{dataPrint.tampiltanggal}}</p>
        <p> {{dataPrint.data.pejabat.jabatan}}</p>
        <p class="nama">{{dataPrint.data.pejabat.nama}}</p>
        <p> NIK. {{dataPrint.data.pejabat.data.nik}}</p>
    </div>
</div>