<link rel="stylesheet" href="/assets/sites.css">
<div class="surat">
    <div class="header">
        <img class="logo" src="assets/images/logojayapura.png">
        <div>
            <b>PEMERINTAH KOTA JAYAPURA<br>
                KELURAHAN WAENA<br>
                DISTRIK HERAM</b>
        </div>
    </div>
    <hr id="hr-formatSurat" />
    <div class="subheader">
        <p style="font-size:14pt; margin-bottom: -18px;"><b><u>{{dataPrint.namapermohonan | uppercase}}</u></b></p>
        <br>Nomor : {{dataPrint.nomorsurat}}<br></br>
    </div>
    <div class="body">
        <table align="center" cellpadding="1" style="width: 700px;margin-bottom: 50px;">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div
                            style="font-family: 'Times New Roman', Times, serif; text-align: justify; font-size: 12pt;">
                            <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan
                                waena kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                        <table cellpadding="1" style="width: 500px;">
                            <tbody>
                                <tr>
                                    <td rowspan="9" style="width: 20px;"></td>
                                    <td width="93">
                                        <span">NIK</span>
                                    </td>
                                    <td width="8"><span>:</span></td>
                                    <td width="200"><span>{{dataPrint.nik}}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span">Nama</span>
                                    </td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.nama || uppercase}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Tempat, Tanggal Lahir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.tempatlahir | uppercase}},
                                            {{dataPrint.tampiltanggallahir | uppercase}},</span></td>
                                </tr>
                                <tr>
                                    <td><span>Jenis Kelamin</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.jeniskelamin}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pekerjaan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.pekerjaan}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Agama</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.agama}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Status Perkawinan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.statusperkawinan}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pendidikan Terakhir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.pendidikanterakhir | uppercase}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Alamat</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.alamatlangkap}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="text-align: justify;">
                            <span
                                style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;"><br>&emsp;&emsp;Orang
                                tersebut diatas, memang benar adalah warga
                                Distrik Heram Kelurahan Waena Kota Jayapura, Surat Keterangan ini dibuat untuk keperluan
                                <b>LAINNYA</b>.<br>
                                <br>Demikian surat pengantar ini kami buat agar dapat dipergunakan sebagaimana mestinya
                                dan penuh tanggung jawab.<br><br><br><br></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p> Jayapura, {{dataPrint.tampiltanggalsurat}}</p>
        <p ng-if="dataPrint.pejabat.namajabatan==Lurah">LURAH WAENA</p>
        <p ng-if="dataPrint.pejabat.namajabatan!=Lurah">an. LURAH WAENA</p>
        <p> {{dataPrint.data.pejabat.jabatan}}</p>
        <p class="nama">{{dataPrint.data.pejabat.nama}}</p>
        <p> NIK. {{dataPrint.data.pejabat.data.nik}}</p>
    </div>
</div>


<!-- <html> 
<head>
<title>Surat Keterangan</title>
</head>

<body>
<div style="margin: 2.5cm;">
<table align="center" cellpadding="1" style="width: 700px;">
    <tbody>
        <tr>
            <td style="width: 210px; text-align: right;"><img src="client/assets/images/logojayapura.png" width="110px" height="100px"></td>
            <td>
                <div style="text-align: center;">
                <span style="font-family: Verdana;"><b>PEMERINTAH KOTA JAYAPURA<br>KELURAHAN WAENA<br>DISTRIK HERAM</b></span>
                
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"> <hr /></td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="text-align: center;">
                    <span style="font-family: verdana;">SURAT KETERANGAN<br>Nomor : 212/SKD/VI/2020<br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="font-family: verdana; text-align: justify;">
                    <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan waena kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="3">
                <table cellpadding="1" style="width: 500px;">
                    <tbody>
                        <tr>
                            <td rowspan="9" style="width: 20px;"></td>
                            <td width="93"><span">NIK</span></td>
                            <td width="8"><span>:</span></td>
                            <td width="200"><span>1234567890</span></td>
                        </tr>
                        <tr>
                            <td><span">Nama</span></td>
                            <td><span>:</span></td>
                            <td><span>Ajen</span></td>
                        </tr>
                        <tr>
                            <td><span>Tempat, Tanggal Lahir</span></td>
                            <td><span>:</span></td>
                            <td><span>Jayapura, 26 Maret 1988</span></td>
                        </tr>
                        <tr>
                            <td><span>Jenis Kelamin</span></td>
                            <td><span>:</span></td>
                            <td><span>Laki-laki</span></td>
                        </tr>
                        <tr>
                            <td><span>Pekerjaan</span></td>
                            <td><span>:</span></td>
                            <td><span>Pegawai Swasta</span></td>
                        </tr>
                        <tr>
                            <td><span>Agama</span></td>
                            <td><span>:</span></td>
                            <td><span>Kristen</span></td>
                        </tr>
                        <tr>
                            <td><span>Status Perkawinan</span></td>
                            <td><span>:</span></td>
                            <td><span>Belum Menikah</span></td>
                        </tr>
                        <tr>
                            <td><span>Pendidikan Terakhir</span></td>
                            <td><span>:</span></td>
                            <td><span>SMA / Sederajat</span></td>
                        </tr>
                        <tr>
                            <td><span>Alamat</span></td>
                            <td><span>:</span></td>
                            <td><span>Abepura</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" >
                <div style="text-align: justify;">
                    <span style="font-family: Verdana;"><br>&emsp;&emsp;Orang tersebut diatas, memang benar adalah warga  
                        Distrik Heram Kelurahan Waena Kota Jayapura, Surat Keterangan ini dibuat untuk keperluan <b>LAINNYA</b>.<br>
                        <br>Demikian surat pengantar ini kami buat agar dapat dipergunakan sebagaimana mestinya dan penuh tanggung jawab.<br><br><br><br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>
                <div style="text-align: center;">
                    <span style="font-family: Verdana;">Jayapura, 20 Maret 2020<br>
                        Kepala Desa<br>
                        <br>
                        <br>
                        <br>
                        Bagus
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html> -->