<div>
    <table align="center" cellpadding="1" style="width: 700px;margin-bottom: 50px;">
        <tbody>
            <tr>
                <td style="width: 210px; text-align: right;"><img src="client/assets/images/logojayapura.png"
                        width="110px" height="100px"></td>
                <td>
                    <div style="text-align: center;">
                        <span style="font-family: 'Times New Roman', Times, serif; font: bold; font-size: larger;"><b>PEMERINTAH
                                KOTA JAYAPURA<br>KELURAHAN WAENA<br>DISTRIK HERAM</b></span>

                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr style="border-top: 4px double #000000; margin-top: -20px; " />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="text-align: center;">
                        <span style="font-family: verdana;">SURAT PENGANTAR<br>Nomor : 212/SKD/VI/2020<br></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="font-family: verdana; text-align: justify;">
                        <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan waena
                            kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellpadding="1" style="width: 500px;">
                        <tbody>
                            <tr>
                                <td rowspan="9" style="width: 20px;"></td>
                                <td width="93">
                                    <span">NIK</span>
                                </td>
                                <td width="8"><span>:</span></td>
                                <td width="200"><span>{{dataPrint.nik}}</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span">Nama</span>
                                </td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.nama}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Tempat, Tanggal Lahir</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.tempatlahir}}, {{dataPrint.tampiltanggal}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Jenis Kelamin</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.jeniskelamin}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Pekerjaan</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.pekerjaan}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Agama</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.agama}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Status Perkawinan</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.statusperkawinan}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Pendidikan Terakhir</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.pendidikanterakhir}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Alamat</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.alamatlangkap}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="text-align: justify;">
                        <span style="font-family: Verdana;"><br>&emsp;&emsp;Orang tersebut diatas, memang benar adalah
                            warga kami dan berdomisili di
                            Distrik Heram Kelurahan Waena Kota Jayapura.<br>
                            <br>&emsp;&emsp;Demikian surat pengantar ini kami buat agar dapat dipergunakan sebagaimana
                            mestinya dan penuh tanggung jawab.<br><br><br><br></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td width="40%">
                <div style="text-align: center; margin-left: 60px;">
                    <span style="font-family: Verdana;">Jayapura, {{dataPrint.tampiltanggal}}<br>
                        {{dataPrint.data.pejabat.jabatan}}<br>
                        <br>
                        <br>
                        <br>
                        <b><u>{{dataPrint.data.pejabat.nama}}</u></b> <br>
                        NIK. {{dataPrint.data.pejabat.data.nik}}
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>