<html> 
<head>
<title>Surat Keterangan</title>
</head>

<body>
<div style="margin: 2.5cm;">
<table align="center" cellpadding="1" style="width: 700px;">
    <tbody>
        <tr>
            <td style="width: 210px; text-align: right;"><img src="client/assets/images/logojayapura.png" width="110px" height="100px"></td>
            <td>
                <div style="text-align: center;">
                <span style="font-family: Verdana;"><b>PEMERINTAH KOTA JAYAPURA<br>KELURAHAN WAENA<br>DISTRIK HERAM</b></span>
                
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"> <hr /></td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="text-align: center;">
                    <span style="font-family: verdana;">SURAT KELAHIRAN<br>Nomor : 212/SKD/VI/2020<br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="font-family: verdana; text-align: justify;">
                    <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan waena kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="3">
                <table  cellpadding="1" style="width: 500px;">
                    <tbody>
                        <tr>
                            <td rowspan="4" style="width: 20px;"></td>
                            <td width="93"><span">Hari</span></td>
                            <td width="8"><span>:</span></td>
                            <td width="200"><span>1234567890</span></td>
                        </tr>
                        <tr>
                            <td><span>Tanggal</span></td>
                            <td><span>:</span></td>
                            <td><span>Ajen</span></td>
                        </tr>
                        <tr>
                            <td><span>Di</span></td>
                            <td><span>:</span></td>
                            <td><span>Jayapura, 26 Maret 1988</span></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="height: 60px;">Telah Lahir seorang anak (pemohon) : Laki-laki</td>
                        </tr>
                        <tr>
                            <td rowspan="6"></td>
                            <td width="93"><span">Bernama</span></td>
                            <td width="8"><span>:</span></td>
                            <td width="200"><span>1234567890</span></td>
                        </tr>
                        <tr>
                            <td><span">Alamat</span></td>
                            <td><span>:</span></td>
                            <td><span>Ajen</span></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="height: 60px;"><span>Nama Orang Tua :</span></td>
                        </tr>
                        <tr>
                            <td><span>Bapak</span></td>
                            <td><span>:</span></td>
                            <td><span>Laki-laki</span></td>
                        </tr>
                        <tr>
                            <td><span>Ibu</span></td>
                            <td><span>:</span></td>
                            <td><span>Pegawai Swasta</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" >
                <div style="text-align: justify;">
                    <span style="font-family: Verdana;"><br>&emsp;&emsp;Demikian surat pengantar ini kami buat agar dapat dipergunakan sebagaimana mestinya dan penuh tanggung jawab.<br><br><br><br></span>
                </div></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>
                <div style="text-align: center;">
                    <span style="font-family: Verdana;">Jayapura, 20 Maret 2020<br>
                        Kepala Desa<br>
                        <br>
                        <br>
                        <br>
                        Bagus
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>