<div>
    <table align="center" cellpadding="1" style="width: 1300px;margin-bottom: 30px;">
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="text-align: center;">
                        <span style="font-family: 'Times New Roman', Times, serif; font: bold; font-size: larger;"><b>KARTU
                                KELUARGA<br> SALINAN<br>NIK :
                            </b></h>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="margin-left" cellspacing="0" cellpadding="1"
                        style="width: 350px;margin-bottom: 30px;">
                        <tr>
                            <td>NAMA KK</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>ALAMAT</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>RT/RW</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>KELURAHAN/DESA</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table align="right" cellspacing="0" cellpadding="1" style="width: 350px;margin-bottom: 30px;">
                        <tr>
                            <td>DISTRIK</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>KABUPATEN/KOTA</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>KODE POS</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                        <tr>
                            <td>PROVINSI</td>
                            <td>:</td>
                            <td><label>H. SARBINI ARIFIN</label></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                    <table border="3px" cellpadding="2" cellspacing="0"
                        style="width: 1300px;margin-bottom: 30px;">
                        <tbody>
                            <tr style="background-color:floralwhite">
                                <th>no</th>
                                <th>NAMA</th>
                                <th>NIK</th>
                                <th>JENIS KELAMIN</th>
                                <th>TEMPAT LAHIR</th>
                                <th>TANGGAL LAHIR</th>
                                <th>AGAMA</th>
                                <th>PENDIDIKAN</th>
                                <th>PEKERJAAN</th>
                                <th>GOLONGAN DARAH</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>H. SARBINI ARIFIN</td>
                                <td>9171022603520001</td>
                                <td>LAKI-LAKI</td>
                                <td>MALANG</td>
                                <td>26 maret 19952</td>
                                <td>ISLAM</td>
                                <td>SMA</td>
                                <td>BELUM/TIDAK BEKERJA</td>
                                <td>TIDAK TAHU</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>H. SARBINI ARIFIN</td>
                                <td>9171022603520001</td>
                                <td>LAKI-LAKI</td>
                                <td>MALANG</td>
                                <td>26 maret 19952</td>
                                <td>ISLAM</td>
                                <td>SMA</td>
                                <td>BELUM/TIDAK BEKERJA</td>
                                <td>TIDAK TAHU</td>
                            </tr>
                        </tbody>
                    </table><br>
                    <table border="3px"  cellpadding="2" cellspacing="0"
                        style="width: 1300px;margin-bottom: 30px;">
                        <tbody>
                            <tr style="background-color:floralwhite">
                                <th>no</th>
                                <th>NAMA</th>
                                <th>NIK</th>
                                <th>JENIS KELAMIN</th>
                                <th>TEMPAT LAHIR</th>
                                <th>TANGGAL LAHIR</th>
                                <th>AGAMA</th>
                                <th>PENDIDIKAN</th>
                                <th>PEKERJAAN</th>
                                <th>GOLONGAN DARAH</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>H. SARBINI ARIFIN</td>
                                <td>9171022603520001</td>
                                <td>LAKI-LAKI</td>
                                <td>MALANG</td>
                                <td>26 maret 19952</td>
                                <td>ISLAM</td>
                                <td>SMA</td>
                                <td>BELUM/TIDAK BEKERJA</td>
                                <td>TIDAK TAHU</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>H. SARBINI ARIFIN</td>
                                <td>9171022603520001</td>
                                <td>LAKI-LAKI</td>
                                <td>MALANG</td>
                                <td>26 maret 19952</td>
                                <td>ISLAM</td>
                                <td>SMA</td>
                                <td>BELUM/TIDAK BEKERJA</td>
                                <td>TIDAK TAHU</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    <table cellspacing="0" align="center" cellpadding="1" style="width: 1300px;margin-bottom: 30px;">
        <tr>
        <tr>
            <td>
                <table align="margin-left" cellspacing="0" cellpadding="1" style="width: 350px;margin-bottom: 30px;">
                    <tr>
                        <td width="40%">
                            <div
                                style="text-align: center; margin-right: 60px; font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                                <span style="font-family: Verdana;">KEPALA KELUARGA<br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <b><u>{{dataPrint.data.penduduk.nama}}</u></b> <br>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="right" cellspacing="0" cellpadding="1" style="width: 350px;margin-bottom: 30px;">
                    <tr>
                        <td width="40%">
                            <div
                                style="text-align: center; margin-right: 60px; font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                                <span style="font-family: Verdana;">Jayapura, {{dataPrint.tampiltanggal}}<br>
                                    {{dataPrint.data.pejabat.jabatan}}<br>
                                    <br>
                                    <br>
                                    <br>
                                    <b><u>{{dataPrint.data.pejabat.nama}}</u></b> <br>
                                    NIK. {{dataPrint.data.pejabat.data.nik}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>