<link rel="stylesheet" href="/assets/sites.css">
<div class="surat">
    <div class="header">
        <img class="logo" src="assets/images/logojayapura.png">
        <div>
            <b>PEMERINTAH KOTA JAYAPURA<br>
                KELURAHAN WAENA<br>
                DISTRIK HERAM</b>
        </div>
    </div>
    <hr id="hr-formatSurat" />
    <div class="subheader">
        <p style="font-size:14pt; margin-bottom: -18px;"><b><u>{{dataPrint.namapermohonan | uppercase}}</u></b></p>
        <br>Nomor : {{dataPrint.nomorsurat}}<br></br>
    </div>
    <div class="body">
        <table align="center" cellpadding="1" style="width: 700px;margin-bottom: 50px;">
            <tbody>
                <tr>
                    <td colspan="3">
                        <div
                            style="font-family: 'Times New Roman', Times, serif; text-align: justify; font-size: 12pt;">
                            <span><br>&emsp;&emsp;Yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan
                                waena kota jayapura menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                        <table cellpadding="1" style="width: 500px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <span">Nama</span>
                                    </td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.nama | uppercase}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Tempat, Tanggal Lahir</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.tempatlahir | uppercase}},
                                            {{dataPrint.tampiltanggallahir | uppercase}},
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Jenis Kelamin</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.jeniskelamin}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Pekerjaan</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.pekerjaan}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Agama</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.agama}}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Alamat</span></td>
                                    <td><span>:</span></td>
                                    <td><span>{{dataPrint.penduduk.alamatlangkap}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="text-align: justify;">
                            <span
                                style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;"><br>&emsp;&emsp;Orang
                                tersebut diatas, memang benar adalah
                                warga
                                Distrik Heram Kelurahan Waena Kota Jayapura dan <b>benar belum menikah sampai
                                    sekarang</b>.<br>
                                <br>&emsp;&emsp;Demikian surat pengantar ini kami buat agar dapat dipergunakan
                                sebagaimana
                                mestinya dan penuh tanggung jawab.<br><br><br><br></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p> Jayapura, {{dataPrint.tampiltanggalsurat}}</p>
        <p ng-if="dataPrint.pejabat.namajabatan==Lurah">LURAH WAENA</p>
        <p ng-if="dataPrint.pejabat.namajabatan!=Lurah">an. LURAH WAENA</p>
        <p> {{dataPrint.data.pejabat.jabatan}}</p>
        <p class="nama">{{dataPrint.data.pejabat.nama}}</p>
        <p> NIK. {{dataPrint.data.pejabat.data.nik}}</p>
    </div>
</div>
<!-- <div>
    <table align="center" cellpadding="1" style="width: 700px;margin-bottom: 50px;">
        <tbody>
            <tr>
                <td style="width: 20%; text-align: left;"><img src="../../../assets/images/logojayapura.png"
                        width="130px" height="120px"></td>
                <td>
                    <div style="text-align: center;">
                        <span style="font-family: 'Times New Roman', Times, serif; font: bold; font-size: larger;"><b>PEMERINTAH
                                KOTA JAYAPURA<br>KELURAHAN WAENA<br>DISTRIK
                                HERAM</b></span>

                    </div>
                </td>
                <td style="width: 20%;"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr style="border-top: 4px double #000000; margin-top: -20px;" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="text-align: center;">
                        <span style="font-family: 'Times New Roman', Times, serif; font-size: 14pt;">SURAT KETERANGAN BELUM MENIKAH<br>Nomor :
                            {{dataPrint.data.nomorsurat}}<br></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="font-family: 'Times New Roman', Times, serif; text-align: justify; font-size: 12pt;">
                        <span><br>&emsp;&emsp;Berdasarkan surat pengantar ketua RT. {{dataPrint.data.rt}} nomor : {{dataPrint.data.nomorsuratpengantar}} pada tanggal
                            <b>06 Maret 2020</b>,
                            yang Bertanda tangan dibawah ini kepala desa distrik heram kelurahan waena kota jayapura
                            menerangkan dengan ini sebenarnya bahwa :<br><br></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellpadding="1" style="width: 500px;">
                        <tbody>
                            <tr>
                                <td>
                                    <span">Nama</span>
                                </td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.nama}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Tempat, Tanggal Lahir</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.tempatlahir}}, {{dataPrint.tampiltanggal}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Jenis Kelamin</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.jeniskelamin}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Pekerjaan</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.pekerjaan}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Agama</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.agama}}</span></td>
                            </tr>
                            <tr>
                                <td><span>Alamat</span></td>
                                <td><span>:</span></td>
                                <td><span>{{dataPrint.penduduk.data.alamatlangkap}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="text-align: justify;">
                        <span style="font-family: Verdana;"><br>&emsp;&emsp;Orang tersebut diatas, memang benar adalah
                            warga
                            Distrik Heram Kelurahan Waena Kota Jayapura dan <b>benar belum menikah sampai
                                sekarang</b>.<br>
                            <br>&emsp;&emsp;Demikian surat pengantar ini kami buat agar dapat dipergunakan sebagaimana
                            mestinya dan penuh tanggung jawab.<br><br><br><br></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td width="40%">
                    <div
                        style="text-align: center; margin-left: 60px; font-family: 'Times New Roman', Times, serif; font-size: 12pt;">
                        <span style="font-family: Verdana;">Jayapura, {{dataPrint.tampiltanggal}}<br>
                            {{dataPrint.data.pejabat.jabatan}}<br>
                            <br>
                            <br>
                            <br>
                            <b><u>{{dataPrint.data.pejabat.nama}}</u></b> <br>
                            NIK. {{dataPrint.data.pejabat.data.nik}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->