@media print{
    .printing{
        display: block;

    }
}
.printing{
    display: none;
}
.logowon{
    margin: 30px;
    width: 100px;
    height: 100px;
}
.login-footer{
    margin-top: 30px;
}
.login-form{
    margin: 30px;
}