@media print {
  .printing {
    display: block;
  }
}

.printing {
  display: none;
}

.logowon {
  margin: 20px;
  width: 100px;
  height: 100px;
}

.login-footer {
  margin-top: 30px;
}

.login-form {
  margin: 10px !important;
}

.fa-spin {
  margin-left: 10px;
  margin-right: 10px;
}

.select2-choice {
  display: block;
  height: 0px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: none !important;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 0px !important;
  background-clip: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: none !important;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 0px solid #fff;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #d0c9c9;
  background-image: none !important;
  -webkit-filter: none !important;
          filter: none !important;
}

#hr-formatsurat {
  border-top: 4px double #000000;
  margin-top: 0px;
}

.surat {
  width: 700px;
  margin-bottom: 50px;
  text-align: center;
}

.surat .header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  min-height: 80;
}

.surat .header .logo {
  position: absolute;
  left: 5px;
  top: 0px;
  width: 110px;
  height: 100px;
}

.surat .subheader {
  text-align: center;
}

.surat .body {
  padding: 20px;
}

.surat .footer {
  position: absolute;
  width: 50%;
  right: 0px;
}

.surat .footer p {
  margin: 0px;
}

.surat .footer .nama {
  margin-top: 60px;
  text-decoration: underline;
}

#typeahead-137-8142 {
  padding: 20px;
}

.autoComplete .dropdown-menu {
  color: white;
  background-color: white;
  min-width: 98%;
}

.autoComplete .dropdown-menu li {
  border-bottom: 0.1px solid #e7e7e7;
  padding: 5px 15px;
  pointer-events: none;
}

.autoComplete .dropdown-menu li a {
  font-size: medium;
  color: black;
  cursor: pointer;
  pointer-events: auto;
}

.autoComplete .dropdown-menu li:hover {
  background: #a1a1a1;
}

.autoComplete .dropdown-menu li:hover a {
  color: white;
}

.loading {
  position: fixed;
  z-index: 9999;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  color: white;
  background-color: rgba(41, 41, 41, 0.822);
}

.loading .loading-body h1 {
  margin: 20px;
}

.loading .loading-body .image {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.chart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart-main .chart-series .chart-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart-main .chart-series .chart-label .label-color {
  width: 20px;
  height: 20px;
  background-color: #803690, #00adf9, #dcdcdc, #46bfbd, #fdb45c, #949fb1, #4d5360;
}

.chart-main .chart-series .chart-label span {
  margin-left: 10px;
}

.card-header h3 {
  text-transform: uppercase;
}

.card-footer button {
  min-width: 75px;
  margin: 0px 5px;
  font-size: inherit;
}

.select2-container .select2-selection--single {
  height: 39px !important;
}

h6, .h6 {
  font-size: inherit;
}

.btn-sm, .btn-group-sm > .btn {
  font-size: inherit;
}
/*# sourceMappingURL=sites.css.map */