@media print {
  .printing {
    display: block;
  }
}

.printing {
  display: none;
}

.logowon {
  margin: 20px;
  width: 100px;
  height: 100px;
}

.login-footer {
  margin-top: 30px;
}

.login-form {
  margin: 10px !important;
}

.fa-spin {
  margin-left: 10px;
  margin-right: 10px;
}

.select2-choice {
  display: block;
  height: 0px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: none !important;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 0px !important;
  background-clip: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: none !important;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 0px solid #fff;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #d0c9c9;
  background-image: none !important;
  filter: none !important;
}

#hr-formatsurat {
  border-top: 4px double #000000;
  margin-top: 0px;
}

.surat {
  width: 700px;
  margin-bottom: 50px;
  text-align: center;
  .header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    min-height: 80;
    .logo {
      position: absolute;
      left: 5px;
      top: 0px;
      width: 110px;
      height: 100px;
    }
  }
  .subheader {
    text-align: center;
  }
  .body {
    padding: 20px;
  }
  .footer {
    position: absolute;
    width: 50%;
    right: 0px;
    p {
      margin: 0px;
    }

    .nama {
      margin-top: 60px;
      text-decoration: underline;
    }
  }
}


// autocomplete start

#typeahead-137-8142{
  padding:20px;



}


.autoComplete{
  .dropdown-menu{
    color: white;
      background-color:white;
      min-width: 98%;
    li{
      border-bottom: 0.1px solid rgb(231, 231, 231);
      padding:5px 15px;
      pointer-events: none;
      a{
        font-size: medium;
        color:black;
        cursor: pointer;
        pointer-events: auto;
      }
    }

    li:hover{
      background:rgb(161, 161, 161);
      a{
        color: white;
      }
    }
  }
  
}

//Loading

.loading{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(153, 205, 50, 0.288);
  .loading-body{
    h1{
      margin: 20px;
    }
    .image {
      top: 50%;
      left: 50%;
      width: 120px;
      height: 120px;
      margin:0;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 2s linear infinite;
  }
      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  }
}
